<div class="row">
  <div class="col-md-3">
    <img *ngIf="detail.poster_path" [src]="'https://image.tmdb.org/t/p/w500'+ detail.poster_path" class="w-100" alt="">
    <img *ngIf="detail.profile_path" [src]="'https://image.tmdb.org/t/p/w500'+ detail.profile_path" class="w-100" alt="">
  </div>
  <div class="col-md-6 py-3">
    <h2>{{detail.title}} {{detail.name}}</h2>
    <p class="text-muted">{{detail.overview}} {{detail.biography}}</p>
    <h5 *ngIf="detail.vote_average">Vote Average : {{detail.vote_average}}</h5>
    <h5 *ngIf="detail.vote_count">Vote count : {{detail.vote_count}}</h5>
    <h5 *ngIf="detail.birthday"> birthday : {{detail.birthday}}</h5>
    <h5 *ngIf="detail.place_of_birth"> place_of_birth : {{detail.place_of_birth}}</h5>
    <h5 *ngIf="detail.revenue"> revenue : {{detail.revenue}}</h5>
    <h5 *ngIf="detail.release_date"> release_date : {{detail.release_date}}</h5>
  </div>
</div>

<div *ngIf="similar !== null" class="row py-3">
  <h3 *ngIf="similar[0].title" >Similar Movies</h3>
  <h3 *ngIf="similar[0].name && similar[0].poster_path" >Similar Tv</h3>
  <div *ngFor="let item of similar" class="col-md-2">
    <a (click)="antherData(item.id , media_type)" >
      <div class="position-relative">

        <img *ngIf="item.poster_path" [src]="'https://image.tmdb.org/t/p/w500'+ item.poster_path" class="w-100"
          alt="">
        <img *ngIf="item.profile_path" [src]="'https://image.tmdb.org/t/p/w500'+ item.profile_path" class="w-100"
          alt="">
        <h3 class="h5">{{item.title}} {{item.name}}</h3>
        <div *ngIf="item.vote_average" class="vote top-0 end-0 position-absolute p-1">{{item.vote_average.toFixed(1)}}</div>
      </div>
    </a>
  </div>
</div>
